.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50vw; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

ul#instructions-ul {
    max-width: 300px;
}

li.instructions {
    font-size: large;
}

header.header-bar {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5vw; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


.user-asset-input {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
}

label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

button.show-trades-button {
    width: 150px;
    background: darkturquoise;
}

.donut_chart {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    justify-content: center;
    color: white;
}

.slider-div {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}


html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

div#main {
  width: 100vw;
  height: 100%;
}

input.userAmount {
    width: 145px;
}

ul.trades-ul {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    margin-top: 20px;
    opacity: .8;
    margin-right: 15px;
    max-width: 300px;
}

li.trades {
    margin: 3px;
}

.user-portfolio-div {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-right: 5px;
}

label.trades {
    margin-bottom: 3px;
}

h2#risk-header {
    margin-top: 10px;
    font-weight: bold;
    font-size: larger;
    color: bisque;
}

section.risk-text {
    margin-top: 10px;
}

li.neg-trades {
    color: red;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

li.pos-trades {
    color: green;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

span.asset-name {
    margin-left: 5px;
    font-size: small;
    font-weight: 800;
    color: teal;
}

.main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: inherit;
    background-image: url(http://res.cloudinary.com/roscoe/image/upload/v1526772568/blue_acoicg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div {
    height: inherit;
}

.donut-slider-div {
    margin-top: 10px;
}

span.trade-assetclass {
    font-size: small;
    font-weight: 800;
    color: darkred;
}

span.trade-rec-span {
    font-size: small;
    font-weight: 700;
    color: darkblue;
}

span.dollar-amt {
    font-size: small;
}

svg.donutchart {
    height: inherit;
}

@media screen and (min-width:640px) and (max-width:1000px) {
  .donut-slider-div {
    height: 400px;
}

li.instructions {
    font-size: smaller;
    margin-left: 5px;
}

ul.trades-ul {
    width: 200px;
    height: 100px;
}

span.trade-assetclass {
    font-size: xx-small;
}

span {
    font-size: xx-small;
}

span.asset-name {font-size: xx-small;}

input.userAmount {
    width: 50px;
    font-size: xx-small;
}

svg.donutchart {
    height: 400px;
    width: 500px;
}

.user-portfolio-div {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 100px;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  background-image: url(http://res.cloudinary.com/roscoe/image/upload/v1526772568/blue_acoicg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2#risk-header {
    font-size: x-small;
}

span.trade-rec-span {
    font-size: x-small;
}

span.dollar-amt {
  font-size: x-small;
}

button.show-trades-button {
    width: 100px;
    font-size: xx-small;
}
}

@media screen and (min-width:320px) and (max-width:640px) {
    .donut-slider-div {
      height: 400px;
  }

  li.instructions {
      font-size: smaller;
      margin-left: 5px;
  }

  ul.trades-ul {
      width: 200px;
      height: 100px;
  }

  span.trade-assetclass {
      font-size: xx-small;
  }

  span {
      font-size: xx-small;
  }

  span.asset-name {font-size: xx-small;}

  input.userAmount {
      width: 50px;
      font-size: xx-small;
  }

  svg.donutchart {
      height: 200px;
      width: 300px;
  }

  .user-portfolio-div {
      flex-direction: row;
      justify-content: center;
      align-items: end;
  }

  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: inherit;
    background-image: url(http://res.cloudinary.com/roscoe/image/upload/v1526772568/blue_acoicg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

  h2#risk-header {
      font-size: x-small;
  }

  span.trade-rec-span {
      font-size: x-small;
  }

  span.dollar-amt {
    font-size: x-small;
  }

  button.show-trades-button {
      width: 100px;
      font-size: xx-small;
  }
}
/* CSS RESET

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Tajawal', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
